.goog-combobox {
    background: url("/demo/images/button-bg.gif") repeat-x scroll left top #DDDDDD;
    border: 1px solid #B5B6B5;
    font: small arial,sans-serif;
}
.goog-combobox input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #B5B6B5 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    color: #000000;
    font: small arial,sans-serif;
    margin: 0;
    padding: 0 0 0 2px;
    vertical-align: bottom;
    width: 200px;
}
.goog-combobox input.label-input-label {
    background-color: #FFFFFF;
    color: #AAAAAA;
}
.goog-combobox .goog-menu {
    margin-top: -1px;
    width: 219px;
    z-index: 1000;
}
.goog-combobox-button {
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 16px;
}
* html .goog-combobox-button {
    padding: 0 3px;
}
