body.wait, body.wait *{
    cursor: wait !important;   
}

html.wait, html.wait *{
    cursor: wait !important;   
}
.date-lookup{
    background-image:url('../mpimg/gray_18/calendar.png');

    width:18px;
    height:18px;
    display:inline-block;
    vertical-align:middle;
}

.lookup {
    background-image:url('../mpimg/search16.png');
    height:16px;
    width:16px;
    display:inline-block;
    margin:0px;
    border:0px;
    padding:0px;
    vertical-align:middle;
}
.save-button {
    background-image:url('../mpimg/gray_18/diskette.png');
    width:18px;
    height:18px;
}
.prev-button {
    background-image:url('../mpimg/gray_18/directional_left.png');
    width:18px;
    height:18px;
}
.next-button {
    background-image:url('../mpimg/gray_18/directional_right.png');
    width:18px;
    height:18px;
}

.prev-page {
    background-image:url('../mpimg/gray_18/rewind.png');
    width:18px;
    height:18px;
}
.next-page {
    background-image:url('../mpimg/gray_18/fast_forward.png');
    width:18px;
    height:18px;
}

label{
    display:block;
    float:left;
    margin-right:5px;
    width:100px;
}
.ddd{
    width:350 px;
}
/* Demo styles for goog.ui.Control. */
.goog-control {
    position: relative;
    width: 20ex;
    margin: 2px;
    border: 2px solid #036;
    padding: 2px;
    font: normal 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #036;
    background-color:#69c;
    cursor: pointer;
    outline: none;
    -moz-outline: none;
}

.goog-control-disabled {
    border-color: #888;
    color: #888;
    //    background-color: #ccc;
}

.goog-control-hover {
    border-color: #369;
    color: #369;
    background-color: 	#FFFFD1;
}

.goog-control-active,
.goog-control-selected,
.goog-control-checked {
    border-color: #9cf;
    color: #9cf;
    background-color: #369;
}

.goog-control-focused {
    border-color: orange;
}

.row-selected {
    background-color: rgb(227, 236, 235);
}

.maximo-tooolbar-text {
    position: relative;
    margin: 2px;
    padding: 2px;
    font: normal 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #036;
    outline: none;
    -moz-outline: none;
}
.action-123{
    background-image:url('../mpimg/gray_18/star.png');
    width:18px;
    height:18px;
    display:inline-block;
}
.delete-action{
    background-image:url('../mpimg/gray_18/cross.png');
    width:18px;
    height:18px;
    display:inline-block;
}

* {
    font-family: Arial, sans-serif;
    font-size: 11px;
    /* font-style: normal; */
}

input {
    height:15px;
}

input.goog-control-disabled{
    border:0px;
    background-color:transparent;
}

.yorn {
    width:30px;
}

.numeric {
    width:50px;
}
.date {
    width:110px;
}
.short-aln{
    width:70px;
}
.medium-aln{
    width:100px;
}
.long-aln{
    width:300px;
}
.gridlabel{
}
.gridlabel-sortable{
    text-decoration:underline;
    height:13px;
}
.sortasc{
    display:inline-block;
    background-image:url('../mpimg/small/arrow_up.gif');
    background-repeat:no-repeat;
    background-position:center;
    width:11px;
    height:11px;
}
.sortdesc{
    display:inline-block;
    background-image:url('../mpimg/small/arrow_down.gif');
    background-repeat:no-repeat;
    background-position:center;
    width:11px;
    height:11px;
}

.toggle {
    cursor: pointer;
    cursor: hand;
    background-repeat: none;
    background-position: right;
    font-size:22px;
    height:11px;
}

tr.goog-drilldown-expanded .toggle {
    background-image: url('../mpimg/minus.png');
}

tr.goog-drilldown-collapsed .toggle {
    background-image: url('../mpimg/plus.png');
}

tr.goog-drilldown-hover td {
    background-color: #CCCCFF;
}

.hier-action{
    display:inline-block;
    background-image:url('../mpimg/bullet.png');
    background-repeat:no-repeat;
    background-position:center;
    width:11px;
    height:11px;
    cursor:pointer;
}
.hidden {
    display:none;
}

.editor-toolbar{
    width:602px;
}

.editor-content{
    width: 600px;
    height: 300px;
    background-color: white;
    border: 1px solid grey;
}

.wf-alert {
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    color:red;
    font-family:Tahoma;
    font-size:22px;
}

.gl-seg{
    text-decoration: underline;
    margin-right:5px;
    font-size:12px;
}

.gl-seg:hover{
    font-size:15px;
}

.main-gl-seg{
    font-weight: bold;
}

.goog-inline-block{
    display:inline-block;
}