* {
    font-size:12px;
} 
body.wait, body.wait *{
    cursor: wait !important;   
}

html.wait, html.wait *{
    cursor: wait !important;   
}

.sortasc{
    display:inline-block;
    background-image:url('/demo/images/small/arrow_up.gif');
    background-repeat:no-repeat;
    background-position:center;
    width:11px;
    height:11px;
}
.sortdesc{
    display:inline-block;
    background-image:url('/demo/images/small/arrow_down.gif');
    background-repeat:no-repeat;
    background-position:center;
    width:11px;
    height:11px;
}
.gridlabel-sortable{
    text-decoration:underline;
}

.goog-control .form-control{
    font-size:13px;
}

.goog-control-disabled .form-control{
    font-size:13px;
}

.open-details{
    text-decoration:underline;
    cursor:pointer;
}

.bullet{
    width:16px;
    height:16px;
}

.no-border{
    border: 0px;
    background-color: transparent;
}

#div2 .goog-control-disabled{
    border: 0px;
    background-color: transparent;
}

.full-width{
    width:100%;
}

.red{
    color:red;
    font-size:10px;
}

.active-field{
    cursor:pointer;
}
.top-margin{
    margin-top:10px;
}

@font-face {
    font-family: 'Adler';
    src: url('../fonts/adler.ttf');
}

.minimo-brand{
    font-family: Adler, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.navbar-nav.navbar-right:last-child {
    margin-right: 15px;
}

.popover {
    max-width: 800px;
    width: auto;
}

.vendor-popover{
    width:400px;
}

#pie-container .list-group-item:hover{
    color: #31708f;
    background-color: #d9edf7;
}

#editor {overflow:scroll; max-height:300px}